* {
  box-sizing: border-box;
}

.flex-container{ 
  background-color: #f1f1f1;
  font-size: 30px;
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  .img_container{
    width: 75%;
  
    float: left;
    padding: 15px;
    border: 1px solid red
    
  }
