body {
    margin: 0;
    background-color: #f2e7af;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
ul.menu li {
  float: right;
}
ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 80px;
  text-decoration: none;
}
ul.menu li a:hover:not(.active) {
    background-color: #c27e4d;
}
ul.menu li a.active {
  background-color: #632f0a;
}

ul.form-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.form-menu li a{
  display: block;
  color: rgb(111, 125, 46);
  text-align: center;
  padding: 90px;
  text-decoration: none;
  background-color: #cac44f;
}
.img-holder {
  grid-area: img-holder;
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente según la proporción original */
}

#imgr {
  max-width: 80%; /* Cambia el tamaño máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente según la proporción original */
  display: block; /* Asegura que la imagen no tenga espacio adicional debajo de ella */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.header { grid-area: header; }
.img-holder { grid-area: img-holder; }
.form { grid-area: form; }
.menus { grid-area: menus; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'img-holder img-holder img-holder img-holder img-holder img-holder'
        'form form form form form form'
        'menus menus menus menus menus menus'
        'footer footer footer footer footer footer';
    grid-template-rows: auto auto auto; /* Utilizamos vh directamente */
    gap: 10px;
    background-color: #f2e7af;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid-container > div {
    background-color: rgba(12, 1, 1, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}



@media screen and (min-width: 1025px) {
    .grid-container {
        grid-template-areas:
          'header header header header header header'
          'img-holder img-holder img-holder img-holder img-holder img-holder'
          'form form form menus menus menus'
          'footer footer footer footer footer footer';
        grid-template-rows: auto; /* Utilizamos vh directamente */
    }
    
}
