body {
    margin: 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td{
    text-align: left;
    padding: 20px;
}
th {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
ul.menu li {
  float: right;
}
ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 80px;
  text-decoration: none;
}
ul.menu li a:hover:not(.active) {
    background-color: #c27e4d;
}
ul.menu li a.active {
  background-color: #632f0a;
}

.header { grid-area: header; }
.menu1 { grid-area: menu1; }
.menu2 { grid-area: menu2; }
.menu3 { grid-area: menu3; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu1 menu1 menu1 menu1 menu1 menu1'
        'menu2 menu2 menu2 menu2 menu2 menu2'
        'menu3 menu3 menu3 menu3 menu3 menu3'
        'footer footer footer footer footer footer';
    grid-template-rows: auto;
    gap: 10px;
    background-color: #f2e7af;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    color: white;
}

.grid-container > div {
    background-color: rgba(12, 1, 1, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
@media screen and (min-width: 1025px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'menu1 menu1 menu2 menu2 menu3 menu3'
            'footer footer footer footer footer footer';
        grid-template-rows: auto;

    }
    .table-container {
        max-height: 845px; /* ajusta este valor según tus necesidades */
        overflow-y: auto;
    }
    .table-container table {
        width: 100%;
    }
}