body {
    margin: 0;
}

.header { grid-area: header; }
.menu1 { grid-area: menu1; }
.menu2 { grid-area: menu2; }
.menu3 { grid-area: menu3; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu1 menu1 menu1 menu1 menu1 menu1'
        'menu2 menu2 menu2 menu2 menu2 menu2'
        'menu3 menu3 menu3 menu3 menu3 menu3'
        'footer footer footer footer footer footer';
    grid-template-rows: 7vh auto auto auto 7vh; /* Utilizamos vh directamente */
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
@media screen and (min-width: 1025px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'menu1 menu1 menu2 menu2 menu3 menu3'
            'footer footer footer footer footer footer';
        grid-template-rows: 7vh auto 7vh; /* Utilizamos vh directamente */

    }
    .table-container {
        max-height: 845px; /* ajusta este valor según tus necesidades */
        overflow-y: auto;
    }
    .table-container table {
        width: 100%;
    }
}