
body{
margin: 0;
font-family: Arial, sans-serif;
}

ul.barnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #884f26;
    width: 100%;
}
ul.barnav li {
  float: right;
}
ul.barnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 80px;
    text-decoration: none;
}

/**
img.logo{
  float: left;
  width: 150px;
  height: 50px;
}
**/

ul.barnav li a:hover:not(.active) {
    background-color: #c27e4d;
}

ul.barnav li a.active {
    background-color: #632f0a;
}

@media screen and (max-width: 767px) {
    ul.barnav li {float: none;}
  
  }




ul.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


.wrapper{
background-color: #f2e7af;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 100px;
  
}
.imimg-holder img{
  width: 100%;
  height: auto;
}
.form-group{
    display: flex;
    background-color: #cac44f;
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 40px;
    line-height: 75px;
    text-decoration: none;
    border: 2px solid black;

}
.form-group ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%; 
  border: 1px solid #333;
  
}
.form-group li {
  flex: 1;
  border: 1px solid black;
}
.form-group a {
  text-decoration: none;
  color: rgb(111, 125, 46);
  
}

footer{
  background-color: #333;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.imimg-holder img {
    max-width: 100%;
    height: auto;
}